services:

  doc-extractor:
    container_name: doc-extractor
    build:
      context: .
      dockerfile: Dockerfile
    image: doc-extractor:dev
    ports:
      - "8000:8080"
    restart: unless-stopped
    command: >
      uvicorn app.api.routes:app
      --host 0.0.0.0
      --port 8080
      --workers 16
    environment:
      - TIKA_URL=http://tika-server:9998
    depends_on:
      - tika-server

  tika-server:
    image: apache/tika:3.2.3.0-full
    container_name: tika-server
    restart: unless-stopped
